  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }
  body {
  background-color: hsl(217, 54%, 14%);
  color: hsl(0,0%,90%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 5px rgb(18, 18, 18);
  height: 100vh;
  }
  #container {
    width: 95%;
    padding: 2em;
    margin: auto;
    animation: 1s ease-out 0s 1 slidefromleft;
  }

  table, th, td, tr {
      border: 4px solid hsl(230,42%,12%);
      background-color: hsla(0,0%,60%,5%);
      text-align: center;
      border-collapse: collapse;
      padding: 5px;
  }

  @keyframes slidefromtop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }


  } @keyframes slidefromright {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }


  } @keyframes slidefromright {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
  }  @keyframes slidefromleft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes flash {
    0% {
      background: linear-gradient(45deg, transparent 30%, hsla(0,0%,80%,50%), transparent 70%);
      background-color: hsla(0,0%,20%,20%);
      background-repeat: no-repeat;
      background-position-x: -10em;
    }
    100% {
      background: linear-gradient(45deg, transparent 30%, hsla(0,0%,80%,50%), transparent 70%);
      background-color: hsla(0,0%,20%,20%);
      background-repeat: no-repeat;
      background-position-x: +10em;
    }
  }






  #feedback {
    animation: 0.8s ease-out 0s 1 slidefromright;
    padding: 2em 1em;
    position: fixed;
    right: 0;
    transition: 0.3s;
    border: inset hsla(0,0%,20%,30%);
    border-width:  0 0 2px 2px;
    background-color: hsla(0,0%,20%,30%);
  }

  nav {
    animation: 0.6s ease-out 0s 1 slidefromtop;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 1em;
    text-align: center;
    width: 100%;
    position: sticky;
    border-bottom: 7px inset hsla(0,0%,20%,30%);
    background-color: hsla(0,0%,20%,30%);
    
  } nav p {
    margin: auto 1em;

  } nav div {
    text-decoration: none;
    color: white;
    border: 4px solid white;
    margin: 2em 0;
    padding: 1em;
    
    
  } nav a:visited, nav a:link {
    position: relative;
    width: 10em;
    text-decoration: none;
    color: white;
    border: 4px solid white;
    margin: 2em 0;
    padding: 1em;
    background-color: hsla(0,0%,20%,20%);
    text-shadow: 0px 0px 5px hsla(0,0%,20%,30%);
    transition-duration: 0.2s;

  } nav a:hover, nav a:active {
    animation: 0.6s ease-out 0s 1 flash;
    border: 4px ridge white;
    box-shadow: 0px 0px 20px 2px hsla(0,0%,70%,20%);
  }

  button {
    border: 2px inset white;
    background-color: hsla(0,0%,20%,20%);
    padding: 5px 10px;
    color: white;
  } button:hover, button:active {
    border: 2px ridge white;
    box-shadow: 0px 0px 20px 2px hsla(0,0%,70%,20%);
  }
